<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginner</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        img {
            width: 20%;
            height: 20%;
        }

        .active {
            background-color: salmon;
            border: 0;
            padding: 5px;
        }

        .button {
            display: block;
            margin-top: 20px;
            width: 200px;
            height: 50px;
            background-color: white;
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <img v-bind:src="gambar" alt="">
            <h1>{{ name }}</h1>
            <input type="text" v-model="name">
            <p>Bilangan ini adalah bilangan {{ infoBilangan }}</p>
            <p>
                <button @click="handleClick">Click</button>
            </p>
            <p>The Progressive JavaScript Framework</p>
            <p>Welcome to Vue js</p>

            <p>{{ kelas }}</p>
            <div>
                <label for=""><input type="checkbox" value="React" v-model="kelas">React</label>
                <label for=""><input type="checkbox" value="VueJS" v-model="kelas">VueJS</label>
                <label for=""><input type="checkbox" value="Angular" v-model="kelas">Angular</label>
            </div>

            <p>
                <button v-bind:class="{active:menu === 'home'}" v-on:click="menu = 'home'">Home</button>
                <button v-bind:class="{active:menu === 'about'}" v-on:click="menu = 'about'">About</button>
                <button v-bind:class="{active:menu === 'blog'}" v-on:click="menu = 'blog'">Blog</button>
            </p>


            <div>
                <button class="button" v-on:click="gambar = 'image/react.png'">React</button>
                <button class="button" v-on:click="gambar = 'image/vueJS.png'">Vue</button>
                <button class="button" v-on:click="gambar = 'image/angular.png'">Angular</button>
            </div>
        </header>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
        const company = {
            name: 'Royhan',
            message: "Hello World!",
            qty: 2,
            namaDepan: 'Royhan',
            namaBelakang: 'Bumi',
            bilangan: 1,
            link: 'http://www.google.com',
            gambar: 'image/vueJS.png',
            menu: 'home',
            kelas: []
        }

        const vm = new Vue({
            el: '#app',
            data: company,
            methods: {
                getName: function () {
                    return 'Hello, ' + this.name
                },
                handleClick: function () {
                    this.bilangan++
                }
            },
            computed: {
                totalBayar: function () {
                    return this.qty * 10000
                },
                namaLengkap: function () {
                    return this.namaDepan + ' ' + this.namaBelakang
                },
                infoBilangan: function () {
                    if (this.bilangan % 2 == 0) {
                        return 'genap'
                    } else {
                        return 'ganjil'
                    }
                },
                ubahNama: function () {
                    if (this.gambar == 'image/react.png') {
                        return this.name = 'React JS'
                    } else if (this.gambar == 'image/vueJS.png') {
                        return this.name = 'Vue JS'
                    } else {
                        return this.name = 'Royhan'
                    }
                }
            }
        });
    </script>
</body>

</html>